* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

[class *="col-"] {
  flex: 0 0 auto;
}

/* offset */
.col-1-offset {
  margin-left: calc((100% / 12) * 1);
}
.col-2-offset {
  margin-left: calc((100% / 12) * 2);
}
.col-3-offset {
  margin-left: calc((100% / 12) * 3);
}
.col-4-offset {
  margin-left: calc((100% / 12) * 4);
}
.col-5-offset {
  margin-left: calc((100% / 12) * 5);
}
.col-6-offset {
  margin-left: calc((100% / 12) * 6);
}
.col-7-offset {
  margin-left: calc((100% / 12) * 7);
}
.col-8-offset {
  margin-left: calc((100% / 12) * 8);
}
.col-9-offset {
  margin-left: calc((100% / 12) * 9);
}
.col-10-offset {
  margin-left: calc((100% / 12) * 10);
}
.col-11-offset {
  margin-left: calc((100% / 12) * 11);
}
.col-12-offset {
  margin-left: calc((100% / 12) * 12);
}

/* XS */
.col-xs-1 {
  flex-basis: calc((100% / 12) * 1);
  max-width: calc((100% / 12) * 1);
}
.col-xs-2 {
  flex-basis: calc((100% / 12) * 2);
  max-width: calc((100% / 12) * 2);
}
.col-xs-3 {
  flex-basis: calc((100% / 12) * 3);
  max-width: calc((100% / 12) * 3);
}
.col-xs-4 {
  flex-basis: calc((100% / 12) * 4);
  max-width: calc((100% / 12) * 4);
}
.col-xs-5 {
  flex-basis: calc((100% / 12) * 5);
  max-width: calc((100% / 12) * 5);
}
.col-xs-6 {
  flex-basis: calc((100% / 12) * 6);
  max-width: calc((100% / 12) * 6);
}
.col-xs-7 {
  flex-basis: calc((100% / 12) * 7);
  max-width: calc((100% / 12) * 7);
}
.col-xs-8 {
  flex-basis: calc((100% / 12) * 8);
  max-width: calc((100% / 12) * 8);
}
.col-xs-9 {
  flex-basis: calc((100% / 12) * 9);
  max-width: calc((100% / 12) * 9);
}
.col-xs-10 {
  flex-basis: calc((100% / 12) * 10);
  max-width: calc((100% / 12) * 10);
}
.col-xs-11 {
  flex-basis: calc((100% / 12) * 11);
  max-width: calc((100% / 12) * 11);
}
.col-xs-12 {
  flex-basis: calc((100% / 12) * 12);
  max-width: calc((100% / 12) * 12);
}
