.container {
  width: 100%;
}

[class *="col-"] {
  color: white;
  background-color: rgb(0, 108, 250);
  border: 1px solid white;
}

div.row > div {
  padding: 1em 1.5em;
  text-align: center;
}

div.container div.row:nth-child(6) div {
  display: flex;
}

div.row > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(57, 255, 20);
  border: 1px solid rgb(0, 108, 250);
  padding: 0.5em;
} 

/* second container */
body div.container {
  margin-bottom: 2em;
}
