.container {
  width: 100%;
  margin-bottom: 2em;
}

[class *="col-"] {
  color: white;
  background-color: rgb(0, 108, 250);
  border: 1px solid white;
}

div.row > div {
  display: flex;
  justify-content: center;
  padding: 1em 1.5em;
}

div.row > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(57, 255, 20);
  border: 1px solid rgb(0, 108, 250);
  padding: 0.5em 0.4em;
} 

/* fourth container */
body div.container:nth-child(4) div.row > div > div {
  padding: 1em;
}

/* fifth container */
body div.container:nth-child(5) div.row > div {
  padding: 0.5em;
}

div.row.center {
  justify-content: center;
}
div.row.end {
  justify-content: end;
}
div.row.column {
  flex-direction: column;
}
body div.container:nth-child(5) div.row.column > div {
  padding: 1em;
  border: 0;
}
div.row.wd-50 {
  width: 50%;
}
div.container-flex div.row.wd-50.left > div {
  padding: 1em;
  border: 0;
}

div.container-flex {
  display: flex;
  width: 100%;
  border: 1px solid white;
}
div.container-flex div.row.wd-50.right > div {
  height: 50%;
}
div.row.wd-50.right.center {
  align-items: center;
}
div.row.wd-50.right.bottom {
  align-items: end;
}