.container {
  width: 100%;
  margin-bottom: 2em;
}

[class *="col-"] {
  color: white;
  background-color: rgb(0, 108, 250);
  border: 1px solid white;
}

div.row > div {
  display: flex;
  justify-content: center;
  padding: 1em 1.5em;
}

div.row > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(57, 255, 20);
  border: 1px solid rgb(0, 108, 250);
  padding: 0.5em 0.4em;
} 

/* fourth container */
body div.container:nth-child(4) div.row > div > div {
  padding: 1em;
}

